section#for
	.container
		h3.for_title.for_general_title Для кого создана Мастер-группа:
		.row.for_row
			.col-md-6.col-sm-6
				.for_container.for_container_1
					.for_container_img.for_container_img_1
					p.for_container_text Для тех, 
						span кому необходима коррекция личностных качеств (проработка страхов, деструктивных состояний, низкого жизненного  тонуса, неадекватной оценки себя, обиды на других, чувства вины, отсутствия мотивации и т.д)
				.for_container.for_container_2
					.for_container_img.for_container_img_2
					p.for_container_text Для тех, 
						span кто хотела бы разобраться с вопросами денег, здоровья, отношений, миссии души, вопросами родовых систем и многих других важных тем
				.for_container.for_container_3
					.for_container_img.for_container_img_3
					p.for_container_text Для тех, 
						span кто готов двигаться вперед и получать результаты
			.col-md-6.col-sm-6
				h3.for_title.for_aux_title Для кого создана Мастер-группа:
				.for_container.for_container_4
					.for_container_img.for_container_img_4
					p.for_container_text Для тех, 
						span кто не может работать над собой в одиночку
				.for_container.for_container_5
					.for_container_img.for_container_img_5
					p.for_container_text Для тех, 
						span кому необходимы личностные изменения, но не ясно с чего начать
				.for_container.for_container_6
					.for_container_img.for_container_img_6
					p.for_container_text Для тех, 
						span чей бюджет не позволяет оплачивать дорогостоящие курсы, а необходимость в проработке своих запросов актуальна