header#header
	.container
		.row
			.col-md-3.col-sm-3
				a(href="/" target="_blank")
					img(src="img/logo.png", alt="Логотип")#logo
			.col-md-3.col-sm-3
				p.online online вебинар
			.col-md-3.col-sm-3
				a.contacts.contacts_tel(href="callto:8-929-568-87-50")
					i.fa.fa-phone(aria-hidden="true")
					span 8-929-568-87-50
				a.contacts.contacts_tel(href="callto:8-499-346-79-46")
					i.fa.fa-phone(aria-hidden="true")
					span 8-499-346-79-46
			.col-md-3.col-sm-3
				a.contacts.contacts_email(href="mailto:info@mastervision.su")
					i.fa.fa-envelope(aria-hidden="true")
					span info@mastervision.su
				a.contacts.contacts_skype(href="skype:add?admin-mastervision")
					i.fa.fa-skype(aria-hidden="true")
					span admin-mastervision