section#how
	.container
		h3.how_title Как будет проводиться работа в мастер-группе?
		h4.how_subtitle Каждую пятницу
		.how_description
			p.how_description_time В 19:00 
				span мск
			p.how_description_text Будет проходить вебинар по одной из тем. Темы будут даваться блоками. То есть месяц будем прорабатывать коррекцию «Я», потом отношения, после этого - здоровье, деньги, миссию души  и т.д. На каждом  вебинаре будут расписаны задания на каждый день. Эти задания будут выкладываться ежедневно в закрытой группе ВК, а запись полного вебинара будет доступна в Личном кабинете. Комментарии на задания можно будет выкладывать как в закрытой группе ВК, так и в Личном кабинете. Темы вебинаров будут проводиться в соответствии с вашими отчетами и выполненными заданиями, поэтому очень важно писать комментарии и задавать вопросы
		.how_attention
			h4.how_attention_title ВНИМАНИЕ
			p.how_attention_text важно знать
		.how_attention_block.how_attention_block_1
			p ТАК КАК ЭТО КЛУБНАЯ СИСТЕМА, ТО ЗАПИСИ В ЛК ОСТАЮТСЯ ДОСТУПНЫМИ НА ВРЕМЯ ДЕЙСТВИЯ ВАШЕГО АБОНЕМЕНТА
		.how_attention_block.how_attention_block_2
			p ПОСЛЕ ОКОНЧАНИЯ ВАШЕГО АБОНЕМЕНТА, ЕСЛИ ВЫ НЕ ПРОДЛИЛИ СВОЕ ОБУЧЕНИЕ, ЗАПИСИ ИЗ ЛК УДАЛЯЮТСЯ
		.how_attention_block.how_attention_block_3
			p КАЖДЫЙ МЕСЯЦ, ВНУТРИ ГРУППЫ, ПРОВОДИТСЯ РОЗЫГРЫШ ЦЕННЫХ ПОДАРКОВ И ПРИЗОВ ДЛЯ САМЫХ АКТИВНЫХ УЧЕНИКОВ