section#main
	.container
		img(src="img/janna_main.png", alt="Жанна Абрамова")#janna_main
		p.main_pre Закрытая Мастер-группа
		h1.main_title Жанны 
			span Абрамовой
		a(href="#prices").main_bitton Записаться