section#prices
    .container
        h3.prices_title Выберите 
            span свой вариант 
            | участия
        .row.for_row
            .col-md-6.col-sm-6
                .price_container
                    .price_body
                        h4.price_body_title Цена абонемента на 
                            span 1 месяц 
                            | обучения
                    .price_footer
                        .price 1 940р.
                        a.price_button(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2177&clean=true&lg=ru" target="_blank") Выбрать
            .col-md-6.col-sm-6
                .price_container
                    .price_body
                        h4.price_body_title Цена абонемента на 
                            span 3 месяца 
                            | обучения
                    .price_footer
                        .price 5 250р.
                        a.price_button(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2289&clean=true&lg=ru" target="_blank")  Выбрать
        img(src="img/red_divider.png", alt="Разделитель").red_divider.prices_red_divider
        h4.prices_aftertitle После оплаты вам придет на письмо с подробной инструкцией и описанием ваших дальнейших действий, а также с контактными данными тех людей, с кем вы сможете решить все организационные вопросы.     
            span ОБЯЗАТЕЛЬНО ПРОВЕРЬТЕ ВАШУ ПОЧТУ!