section#reach
	.container
		h3.reach_title Что вы получите 
			span в результате  работы в Мастер-группе?
		.reach_list
			.reach_single.reach_single_1
				p.reach_single_text Осознанное, объективное 
					span видение себя
			.reach_single.reach_single_2
				p.reach_single_text Проработаете свои 
					span сильные качества 
					| и перестанете себя корить за свои слабые стороны
			.reach_single.reach_single_3
				p.reach_single_text
					span Найдете ответы 
					| на давно интересующие вас вопросы в различных сферах
			.reach_single.reach_single_4
				p.reach_single_text
					span Справитесь со страхами
					| , чувством одиночества и неуверенностью в своих силах
			.reach_single.reach_single_5
				p.reach_single_text Поднимете свой 
					span уровень энергии
			.reach_single.reach_single_6
				p.reach_single_text Приобретете 
					span новую мотивацию 
					| для достижения своих целей
			.reach_single.reach_single_7
				p.reach_single_text
					span Научитесь понимать 
					| своих партнеров через знания физиогномики
			.reach_single.reach_single_8
				p.reach_single_text
					span Разберетесь 
					| в конфликтных ситуациях со своими близкими
			.reach_single.reach_single_9
				p.reach_single_text
					span Поймете причину 
					| своих заболеваний и физических/моральных недугов
			.reach_single.reach_single_10
				p.reach_single_text Перейдете  на более высокий уровень 
					span денежного достатка
			.reach_single.reach_single_11
				p.reach_single_text
					span Познаете 
					| свою собственную миссию души и личностное предназначение
			.reach_single.reach_single_12
				p.reach_single_text
					span Наладите отношения 
					| с детьми/родителями
			.reach_single.reach_single_13
				p.reach_single_text
					span Проработаете 
					| свои кармические задачи через ежедневные задания, которые будут с каждым днем вести вас к осознанности