section#second
	.container
		p.second_text Любые тренинги направлены на глобальное осознание каких-то насущных вопросов и проблем. То есть тренинг дает общую информацию без индивидуального подхода. Но ведь любые знания необходимо прорабатывать лично на себе, причем ежедневно через практики, техники, осознания. Именно каждый день осознанной работы над собой дает максимальный результат. Но человеческая лень и саботаж злейший враг, ограничивающий каждого из нас
		img(src="img/red_divider.png", alt="Разделитель").red_divider.second_red_divider
		p.second_text И кажется, что тренинг не сработал, кругом обман, либо информация не та, либо тренер не тот. Но на самом деле это как в спорте, мышцу раскачивать необходимо ежедневным трудом. Каждый день и по чуть-чуть, чтобы не перенапрячься. Именно для ежедневной проработки своего Я, здоровья, отношений, денежного роста, личностных изменений, улучшения отношений с детьми/родителями/близкими была создана Мастер группа
		p.second_text Группа, в которой 
			span все сегменты нашей земной и духовной жизни мы будем рассматривать, корректировать и прорабатывать через практики и техники