section#author
	.container
		h3.author_title О тренере
		img(src="img/janna_main.png", alt="Жанна Абрамова")#janna_about
		.author_container
			h4.author_subtitle Жанна Абрамова
			ul.author_list
				li Основатель «Академии Семьи и Брака»
				li Мастер практической психологии, факультет клинической психологии Академии при президенте РФ РАНХиГС
				li Специалист по метафорическим картам (МАК)
				li Системный расстановщик, изучала семейную психотерапию в ИИСТ
				li Процессор Техники РПТ (Саймон Роуз) , Тетахилинга (THInK)
				li Изучала гипнотерапию, Московский институт гипноза
				li Коуч, женский тренер, автор трансформационных программ «Анатомия Отношений», «Управление реальностью», «Мышление будущего», «От перца к сердцу», «Как получать подарки», «МАК – сам себе доктор», «Замуж за 2 недели», «Деньги в голове», «Дуэль с ленью», «Возврат ваших вложений», «Третий лишний или как устранить соперницу»