.red_line
	background-color: #B60000
	background-image url(../img/red_line.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	padding 15px 0
.redline_button
	display block
	margin 0 auto
	background-color: transparent
	border: 3px dotted #fff
	border-radius: 20px;
	width 100%
	max-width: 332px;
	height: 60px;
	line-height: 54px;
	text-align: center
	font-size: 31px;
	font-family: "ProximaNovaLight",sans-serif;
	color: #fff
	transition: all .3s ease
	&:focus
		color #fff
		text-decoration: none
	&:hover
		color #B60000
		border-color: #B60000
		text-decoration: none
		background-color #fff