#footer
	padding: 30px 0
	text-align: center
	background-color: #202020
	h5
		font-size: 24px;
		color: #fff
		line-height: 1.042;
		margin 0 0 20px
		font-family: 'ProximaNovaSemibold', sans-serif;
		font-weight: normal
	p
	#conditions
		font-family: 'ProximaNovaLight', sans-serif
		font-size: 14px;
		color: rgba(254, 254, 254, .3);
		line-height: 1.786;
	#conditions
		margin 15px 0 0
		text-decoration: underline
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 0 15px 20px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-color #D8B465
			color #202020
			font-size 20px
			line-height 30px
			border-radius 50%
			&:hover
				background-color rgba(#D8B465, .6)
				color: #202020