#for
	width 100%
	padding 52px 0 26px
	background-color: #191919
	background-image url(../img/black_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.for_title
	font-size: 35px;
	font-family: "ProximaNovaSemibold", sans-serif;
	color: #fff
	text-transform: uppercase;
	line-height: 1.2;
	margin: 0 0 32px
.for_general_title
	text-align: center
	display: none
.for_row
	width 100%
	max-width 788px
	margin 0 auto
.for_container
	padding 25px 25px 19px
	border: 12.76px solid rgba(236, 39, 39, .322);
	width 100%
	max-width: 344px;
	margin 0 auto 49px
	position relative
	text-align: center
.for_container_6
	margin-bottom: 0
.for_container_img
	border-radius: 50%;
	background-color: #000
	width: 194px;
	height: 194px;
	margin 0 auto 10px
	background-image url(../img/for_imgs.png)
	background-repeat no-repeat
	background-position: 0 0
	background-size: cover
.for_container_text
	font-size: 16px;
	font-family: "MontserratBold", sans-serif;
	color: #fff
	line-height: 1.2;
	span
		font-family: "Montserrat", sans-serif;
.for_container_img_2
	background-position -388px 0
.for_container_img_3
	background-position -776px 0
.for_container_img_4
	background-position -194px 0
.for_container_img_5
	background-position -582px 0
.for_container_img_6
	background-position -970px 0