#header
	background-color: #B60000
	background-image url(../img/red_line.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	padding 13px 0
#logo
	margin-top: 11px
.online
	font-size: 23px;
	font-family: "MontserratMedium", sans-serif;
	color: #ffffff
	text-align: right
	line-height: 1.2;
	margin-top: 10px
.contacts
	display: block
	width 100%
	font-family: "Montserrat", sans-serif;
	color: #fff
	line-height: 1.2;
	margin-bottom: 5px
	text-align: right
	&:last-child
		margin-bottom: 0
	.fa
	span
		font-size: 17px;
		line-height: 1.2
	.fa
		margin-right: 7px
	&:focus
		color #fff
		text-decoration: none
	&:hover
		color #ffffff
		text-decoration: underline