#how
	width 100%
	padding 72px 0 83px
	background-color: #191919
	background-image url(../img/black_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.how_title
	font-size: 35px;
	font-family: "ProximaNovaSemibold", sans-serif
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.15;
	text-align: center;
	margin 0 auto 50px
	width 100%
	max-width 610px
	max-width: 575px;
	letter-spacing: -1.3px;
.how_subtitle
	border: 4px dotted rgb(193, 5, 5);
	width: 388px;
	height: 68px
	line-height: 60px
	margin 0 auto
	text-align: center
	font-size: 35px;
	font-family: "ProximaNovaSemibold", sans-serif;
	color: #fff
	text-transform: uppercase;
	letter-spacing: -1.2px;
.how_description
	width 100%
	max-width 865px
	padding 50px 100px 43px
	margin 53px auto 89px
	position relative
	z-index 9
	&:before
		content: ''
		display block
		width: 466px;
		height: 218px;
		position: absolute
		z-index 0
		border-top: 16px solid rgba(#c10505)
		border-left: 16px solid rgba(#c10505)
		opacity .6
		top 0
		left 0
	&:after
		content: ''
		display block
		width 145px
		height 135px
		position: absolute
		z-index 0
		border-bottom: 17px solid rgba(#c10505)
		border-right: 17px solid rgba(#c10505)
		opacity .6
		bottom:  0
		right 0
.how_description_time
	font-size: 44px;
	font-family: "ProximaNovaLight", sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 44px;
	position: absolute
	top -16px
	right: 74px;
	letter-spacing: 0.7px;
	span
		font-size: 26px
		vertical-align: middle
		letter-spacing: 33px
.how_description_text
	font-size: 16px;
	font-family: "ProximaNova", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.17;
	text-align: center;
.how_attention
	position relative
	width 422px
	margin: 0 auto 46px
	border-bottom: 8px solid #fff
	border-left: 8px solid #fff
	border-right: 8px solid #fff
	padding 33px 10px 10px
	text-align: center
	&:before
	&:after
		content: ''
		display block
		position: absolute
		top 0
		width: 31px
		height: 8px
		background-color #fff
	&:before
		left 0
	&:after
		right 0
.how_attention_title
	position: absolute
	top -26px
	left 0
	right 0
	font-size: 54px;
	font-family: "ProximaNovaSemibold", sans-serif;
	color: rgb(201, 1, 0);
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: -2px;
.how_attention_text
	font-size: 26px;
	font-family: "ProximaNovaSemibold", sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 15px;
.how_attention_block
	border-radius: 20px;
	background-color: rgba(201, 1, 0, .67);
	width 100%
	max-width: 669px;
	margin 0 auto
	padding 10px 36px 10px 117px
	background-repeat no-repeat
	background-position: 22px center
	background-size: 71px
	height 102px
	display: table
	p
		display: table-cell
		vertical-align: middle
		font-size: 16px;
		font-family: "ProximaNovaSemibold", sans-serif;
		color: rgb(255, 255, 255);
		text-transform: uppercase;
		line-height: 1.2;
		letter-spacing: 0.5px;
.how_attention_block_1
.how_attention_block_2
	background-image url(../img/how_icon_1.png)
.how_attention_block_2
	margin 34px auto 37px
.how_attention_block_3
	background-image url(../img/how_icon_2.png)
	background-size: 65px;
	background-position: 27px center;