#main
	width 100%
	padding 99px 0 51px
	overflow hidden
	background-color: #191919
	background-image url(../img/black_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	.container
		position relative
#janna_main
	position: absolute
	bottom: -52px;
	right: -64px;
	z-index: 0;
	width: 790px;
.main_pre
	border: 2.51px dotted rgb(203, 166, 116);
	width 100%
	max-width: 494px;
	height: 50px;
	font-size: 35px;
	font-family: "ProximaNovaLight", sans-serif;
	color: rgb(245, 203, 115);
	text-transform: uppercase;
	line-height: 48px;
	text-align: center;
	letter-spacing: 0.7px;
	margin 0 0 0 164px
	position relative
	z-index: 7
.main_title
	font-size: 129px;
	font-family: "BickhamScriptThree", cursive;
	color: rgb(245, 203, 115);
	margin: 104px 0 26px 129px;
	letter-spacing: -4px;
	line-height: 0.8;
	position relative
	z-index: 8
	span
		display block
		margin-left: 97px
.main_bitton
	border-radius: 20px;
	background-color: rgb(193, 5, 5);
	opacity: 0.851;
	width 100%
	max-width: 263px;
	height: 50px;
	line-height: 50px;
	display block
	font-size: 31px;
	font-family: "ProximaNovaLight", sans-serif;
	color: rgb(255, 255, 255);
	text-align: center;
	transition: all .3s ease
	margin-left: 442px
	position relative
	z-index: 9
	&:focus
		opacity .851
		color #ffffff
		text-decoration: none
	&:hover
		opacity 1
		background-color: rgba(193, 5, 5, 1);
		color #ffffff
		text-decoration: none