@media screen and (min-width 2299px)
    .container
        width 1400px
    .online
        text-align: center
    .main_pre
        margin-left: 264px
    .main_title
        margin-left: 230px
    .second_text
        font-size: 20px
        max-width 1000px
    .for_row
        max-width 900px
    .for_title
        margin-bottom: 59px
    .for_container
    .price_container
        max-width 428px
    .for_container_text
    .how_description_text
    .how_attention_block p
        font-size: 20px
    .reach_title
    .reach_list
        margin-left: 240px
    .how_attention_block
        height 130px
    .prices_aftertitle
        font-size: 22px
        max-width 1000px
    #footer #conditions, #footer p
        font-size: 18px
    .soc_buttons a .fa
        width 45px
        height 45px
        line-height:  45px
        font-size: 28px
    .how_description
        padding 50px 70px 43px