#prices
	width 100%
	padding 60px 0
.prices_title
	font-size: 39px;
	font-family: "ProximaNovaExtraBold", sans-serif;
	color: #1f1f1f;
	text-transform: uppercase;
	line-height: 1.13;
	width: 100%;
	max-width: 470px;
	text-align: center
	margin:0 auto 60px
	span
		color #c90100
.price_container
	padding: 25px
	border: 12px solid rgba(236,39,39,0.322);
	width: 100%;
	max-width: 344px;
	margin: 0 auto 25px;
	position: relative;
	text-align: center;
.price_body_title 
	font-size: 22px;
	font-family: "ProximaNovaBold", sans-serif;
	color: #000
	line-height: 1.2;
	margin-bottom: 0px
	span
		color: #c90100;
		font-family: "ProximaNovaExtraBold", sans-serif;
		display block
		font-size: 26px
.price
	font-size: 90px
	font-family: "BickhamScriptThree", cursive;
	color #cba674
	line-height: 90px
.price_button
	border-radius: 20px;
	background-color: #c10505;
	opacity: 0.851;
	width: 100%;
	max-width: 263px;
	height: 50px;
	line-height: 50px;
	display: block;
	font-size: 31px;
	font-family: "ProximaNovaLight", sans-serif;
	color: #fff;
	text-align: center;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin 30px auto 0
	&:focus
		opacity .851
		color #ffffff
		text-decoration: none
	&:hover
		opacity 1
		background-color: rgba(193, 5, 5, 1);
		color #ffffff
		text-decoration: none
.prices_aftertitle
	font-size: 20px
	font-family: "Montserrat", sans-serif;
	width 100%
	max-width 650px
	text-align: center
	margin 0 auto
	span
		font-family: "MontserratSemibold", sans-serif;
		color #c10505;
		display block