#second
	width 100%
	padding: 60px 0 71px
	text-align: center
.second_text
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	color: rgb(0, 0, 0);
	line-height: 1.6;
	margin:0 auto 29px
	width 100%
	max-width 838px
	span
		font-family: "MontserratSemibold", sans-serif;
	&:last-of-type
		margin-bottom: 0
.red_divider
	margin 0 auto 22px
	display block