#author
	width 100%
	padding 90px 0 0
	background-color: #191919
	background-image url(../img/black_bg.jpg)
	background-repeat no-repeat
	background-position center
	background-size: cover
	.container
		position relative
#janna_about
	position absolute
	transform: rotateY(180deg)
	width 100%
	max-width: 800px
	bottom: 0px;
	left: -100px;
.author_title
	font-size: 35px;
	font-family: "ProximaNovaBold", sans-serif;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.15;
	text-align: center;
	margin: 0 auto 70px;
	letter-spacing: -1.3px;
.author_container
	float right
	width: 600px
.author_subtitle
	font-size: 24px;
	font-family: "ProximaNovaSemibold", sans-serif;
	color: #fff
	line-height: 1.375;
	margin-bottom: 30px
	margin-left: 4px
.author_list
	li
		position relative
		z-index 9
		padding-left: 32px
		font-size: 18px;
		font-family: "ProximaNova", sans-serif;
		color: #fff
		line-height: 1.444;
		margin-bottom: 15px
		list-style none
		&:last-child
			margin-bottom: 60px
		&:before
			content: ''
			position: absolute
			top: 7px;
			left: 4px;
			background-color: #C90100
			width: 10px;
			height: 10px;
#jannas_about
	// background-color: #E3E3E3
	padding 60px 0 30px
.about_title
	font-size: 39px;
	font-family: "ProximaNovaExtraBold", sans-serif;
	color: #1f1f1f;
	text-transform: uppercase;
	line-height: 1.13;
	margin: 0 0 70px
	text-align: center
	
#collage
	display: block;
	max-width: 960px;
	width: 100%;
	margin: 0 auto 40px;
	border: 12px solid rgba(236,39,39,0.5);
	background-color: rgba(236,39,39,0.5);
.fancybox-image, .fancybox-spaceball
	border: 12px solid rgba(236,39,39,0.5);
	background-color: rgba(236,39,39,0.5);
.tv_videos
.video-reviews
	.video_wrapper
		border: 12px solid rgba(236,39,39,0.5);
		background-color: rgba(236,39,39,0.5);
		margin-bottom: 30px;
#revs
	background-color: #E3E3E3
	padding: 60px 0
#reviews {
	width: 100%;
	margin: 40px auto 0;
	text-align: center;
	padding: 0 20px;
}
#reviews .owl-stage-outer {
	padding-bottom: 20px;
}

#reviews .owl-nav {
	top: auto;
	bottom: 0;
	width: 160px;
	margin: 0 auto;
}

#reviews .owl-nav .owl-prev {
	position: relative;
	-index: 10;
	float: left;
	background: url(../img/slider-but.png) center no-repeat;
	margin: 0;
	width: 21px;
	height: 37px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

#reviews .owl-nav .owl-next {
	float: right;
	background: url(../img/slider-but.png) center no-repeat;
	margin: 0;
	width: 21px;
	height: 37px;
}

#reviews .owl-nav .owl-next,
#reviews .owl-nav .owl-prev {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: rgba(236,39,39,01);
}
.text-reviews {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.text-reviews img {
    display: block
    max-width: 101px 
    height: 101px;
    margin: 0 auto 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.text-reviews .avtor {
    color: #fff
    font-family: "MontserratBold", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    padding: 15px 0 40px;
    background: url(../img/bg-title-5.png) center top no-repeat;
}
.text-reviews p:not([class]) {
	font-family: 'Montserrat', sans-serif
    color: #0b0a0a;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}